VERSION=v1.1.0

VDIRSYNCER_CONFIG=/share/Container/vdirsyncer-docker-data/config
VDIRSYNCER_DATA=/share/Container/vdirsyncer-docker-data/data
VDIRSYNCER_CALENDARS=/share/Container/vdirsyncer-docker-data/calendars

SOMEUSER_GOOGLE_CID="some_client_id"
SOMEUSER_GOOGLE_SECRET="some_key"
SOMEUSER_ICLOUD_USER="someuser@someemail.com"
SOMEUSER_ICLOUD_APP_PW="some_app_pw"

SOMEUSER_UID=1000
SOMEUSER_GID=1000
